@import'_BreakPoint';
@import 'Color';

@mixin hoverGrow{
    &:hover{
        padding:.75rem;
        margin:.25rem;
        
    }
}


.about{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background:$orange;
    &-title{
        font-size:4rem;
        color:white;
        text-align:center;
    }
    &-img{
        border-radius:100%;
    }
    &-icon{
        max-width:3rem;
        padding:.5rem;
        margin: .5rem;
        transition:all .2s;
        background:#303030 ;
        border-radius:100%;
        &.img{
            height:3rem;
            width:3rem;
            display: grid;
            justify-content: center;
            align-content: center;
            img{
                width:100%;
            }
        }
        &-container{
            position:relative;
            width:100%;
            margin-top:2rem;
            display:flex;
            align-items:center;
            justify-content: flex-start;
        }
        @include hoverGrow()
    }
    &-text{
        color:white;
        font-size:1.8rem;
        text-align:center;
        line-height:2.4rem;
        margin-top:1rem;
    }
    &-container{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        &-inner{
            padding:1rem;
            // border:solid;
            width:30rem;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:flex-start;
        }
        
    }
}


.fa-node-js{
    color:#3c873a;
}
.fa-react{
    color: #61DBFB;
    background:#282c34;
    border-radius:100%;
}