@import'_BreakPoint';
@import 'Color';

@mixin hoverGrow{
    &:hover{
       box-shadow: 0px 0px 12px $orange;
        
    }
}


.about{
    display:flex;
    flex-direction:column;
    min-height:60rem;
    &-top{
        display:flex;
        flex-direction:column;
        min-height:45rem;
        background:$orange;
        @include shadow;

    }
    &-bottom{
        justify-content: flex-start;
        align-items: center;
        h4{
            margin-top:1rem;
            width:100%;
            text-align:center;
            color:$blue;
            font-size:2rem;
            font-weight:300;
            margin-bottom:1rem;
        }
        display:flex;
        flex-direction:column;
        min-height:15rem;
        @include shadowInset;
    }
    &-title{
        font-size:4rem;
        color:white;
        text-align:center;
    }
    &-img{
        border-radius:100%;
    }
    &-icon{
        width:5rem;
        height:5rem;
        text-align:center;
        vertical-align: middle;
        padding:.5rem;
        margin: .5rem;
        transition:all .2s;
        background:#303030 ;
        border-radius:100%;
        &.img{
            height:5rem;
            width:5rem;
            display: grid;
            justify-content: center;
            align-content: center;
            img{
                width:100%;
            }
        }
        &-container{
            position:relative;
            width:100%;
            display:flex;
            align-items:center;
            justify-content: flex-start;
        }
        @include hoverGrow()
    }
    &-text{
        color:white;
        font-size:1.8rem;
        text-align:center;
        line-height:2.4rem;
        margin-top:1rem;
    }
    &-container{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        &-inner{
            padding:1rem;
            // border:solid;
            width:30rem;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:flex-start;
        }
        
    }
}


.fa-node-js{
    color:#3c873a;
}
.fa-react{
    color: #61DBFB;
    background:#282c34;
    border-radius:100%;
}