@import'_BreakPoint';
@import 'Color';


.hero{
    background-image: url('../Images/Hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  

    &-container{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        
    }
    &-title{
        margin-top:1rem;
        font-weight:600;
        margin-bottom:1rem;
        font-size:6rem;
        color:white;
        @include tablet{
            font-size:4rem;
        }
        @include mobile{
            font-size:2rem;
        }
    }

    &-caption{
        color:white;
        margin: auto 1.5rem;
        font-weight:200;
        font-size:2rem;
        width:40rem;
        text-align:center;
        @include tablet{
            width:20rem;
            font-size:1.6rem;
        }
        @include mobile{
            font-size:1rem;
        }
        
    }
    &-button{
        margin-top:2rem;
        padding: .6rem 2rem .6rem 2rem;
        background-color:transparent;
        border: 2px solid $orange;
        border-radius:6px;
        font-size: 1.5rem;
        color:$orange;
        transition:all ease .5s;
        @include tablet{

        }

        
        &:focus{
            outline:none
        }
        &:hover{
            background-color:$orange;
            color:white;
        }
    }
    hr{
        height:2px;
        width:80%;
        background-color:$bright;
        border:none;
    }
}