.navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #010e24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  -webkit-box-shadow: 5px 2px 8px #112C56;
          box-shadow: 5px 2px 8px #112C56;
}

@media screen and (max-width: 430px) {
  .navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.navbar.opacity {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(1, 14, 36, 0.5);
}

.navbar-list {
  margin: 0 0 0 10vw;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .navbar-list {
    display: none;
  }
}

.navbar-list-item {
  display: inline;
  color: white;
  font-size: 1.2rem;
  margin: auto 1rem auto 1rem;
}

.navbar-list-item a {
  cursor: pointer;
}

.navbar .hamburger {
  margin: auto 1rem auto auto;
  padding: .5rem;
  color: white;
  height: 50px;
  width: auto;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar .hamburger {
    display: block;
  }
}

.active {
  color: #F57927 !important;
  font-weight: bold !important;
}

#fly-out-menu {
  width: 100%;
  height: 100%;
  background-color: #112C56;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0, 0.52, 0, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.8s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.8s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.8s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fly-out-menu.hide {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

#fly-out-menu.show {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  overflow: hidden;
}

.flyout-list {
  margin: 0 auto;
  list-style: none;
  max-width: 100%;
  width: 10rem;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flyout-list-item {
  padding: .5rem 1rem;
  font-size: 2rem;
  color: white;
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
  text-align: left;
}

.flyout-list-item:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.flyout-list-arrow {
  height: 15rem;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.flyout-list-arrow.right {
  -webkit-transform: rotate3d(0, 0, 0, 0);
          transform: rotate3d(0, 0, 0, 0);
}

.flyout-list-arrow.left {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
          transform: rotate3d(0, 1, 0, 180deg);
}

.flyout-list-arrow-container {
  position: absolute;
  right: 0;
  height: 100%;
  width: 4rem;
  background-color: rgba(1, 14, 36, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flyout-list-arrow-container:focus .flyout-list-arrow {
  -webkit-filter: invert(60%) sepia(87%) saturate(3380%) hue-rotate(347deg) brightness(106%) contrast(92%);
          filter: invert(60%) sepia(87%) saturate(3380%) hue-rotate(347deg) brightness(106%) contrast(92%);
}
/*# sourceMappingURL=NavBar.css.map */