@import 'Color';
@import '_BreakPoint';



.portfolio{
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    &-title{
        color:$orange;
        font-size:4rem;
        margin-bottom:.5rem;
        margin-top:1rem;
    }
   
    &-container{
        width:95%;
        margin:2rem 4rem 0 4rem;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
        grid-gap: 5px;
        justify-content: center;
        padding: 1rem 1rem 3rem 1rem;
        @include tablet{
            display:inline-flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content:center;
            z-index:1;
            margin:.5rem;
        }
  
    }
    &-button{
        background-color: rgba($blue,.5);
        border-radius: 100%;
    }
    

    .project{
        position:relative;
        margin:1rem;
        width:30rem;
        min-height:15rem;
        background-size: cover;
        background-color:rgba($dark, .6);
        background-blend-mode: multiply;
        background-position: center center;
        border-radius:4px;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet{
            width:80%;

        }
        @include mobile{
            width: 100%;
        }

        &-title{
            color:white;
            font-size:1.8rem;
            font-weight:400;
            margin-top:1rem;
            z-index:4;
            transition:color 1s;
            transition-delay:.2s;
            &.show{
                color:$orange;
            }
        }

        &-arrow{
            &-holder{
                width:100%;
                height:5rem;
                background-color: rgba($dark, .5);
                display:none;
                align-items:center;
                justify-content: center;
                @include tablet{
                    display:flex;
                }
                &:hover{
                    .project-arrow{
                        filter: invert(60%) sepia(87%) saturate(3380%) hue-rotate(347deg) brightness(106%) contrast(92%);
                    }
                }
            }
        }
        &-description{
            margin:5rem 1rem 1rem 1rem;
            font-size:1.2rem;
        }
        &-link{
            font-size:1.2rem;
            margin: 2px;
            width:50%;
            text-decoration: none;
            color:white;
            
            div{
                width:100%;
                height:100%;
                padding:1rem;
                transition: all ease-in-out .2s;
            }
            &:hover{
                color:$orange;
                &> div{
                    background-color:rgba(255, 255, 255, 0.1)
                    }
            }
            &-line{
                width:1px;
                background-color:$light;
                height:70%;
            }
        }
        &-overlay{
            width:100%;
            height:100%;
            background-color:$dark;
            position:absolute;
            bottom:150%;
            transition: bottom .8s
                cubic-bezier(0, .52, 0, 1);
            color:white;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:space-between;
            z-index:3;
            &.show{
                bottom:0;
            }
            &-button-container{
                display:flex;
                width:100%;
                align-items: center;
                justify-content: center;
                }
            }
        }
}
